<h3>Products List with Async Pipe</h3>

<table class="table" style="background-color: aqua;">
    <thead>
      <tr>
        <th>Title</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Color</th>
        <th>ExpiryDate</th>
        <th>inStock</th>
      </tr>
    </thead>
    <tbody *ngFor ="let p of items$ | async">
      <tr>
        <td>{{p.title}}</td>
        <td>{{p.price}}</td>
        <td>{{p.quantity}}</td>
        <td>{{p.color}}</td>
        <td>{{p.expiryDate}}</td>
        <td>{{p.inStock}}</td>
      </tr>
    </tbody>
  </table>